
.container {
    margin: auto;
    width: 70%;
}



.about-me {
    color: #333;
    line-height: 2.5;
}

.about-me h1 {
    font-size: 3rem;
}

.about-me h2 {
    font-size: 2rem;
}


.about-me p {
    font-size: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    align-items: center;
    margin-top: 2rem;
}

.grid img {
    height: 400px;
    width: 400px;
}

.margin-2 {
    margin-top: 1rem;
}

.bold {
    font-weight: bolder;
    margin-top: 1rem;
}

.grid-ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin-left: 1rem;
}



.flex {
    display: flex;
    min-height: 70vh;
    margin: auto;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.div1 img {
    height: 60vh;
}

.div1 {
    flex: 1;
}

.div2 {
    flex: 1;
    align-items: center;
}

@media(max-width: 760px) {
    
    .grid-ul {
        margin-top: 1rem;
    }

    .flex {
        flex-direction: column;
    }

    .div1 img {
        height: 50vh;
    }

    .grid-3 {
        grid-template-columns: 1fr;
    }

    .main-content h1 {
        font-size: 3.2rem;
    }

    
}

